# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Nuitka & C-Compiler Artifacts
*.build/
*.dist/
*.onefile-build/
*.o
*.bin
*.so
ccache-*.txt
scons-report.txt

# Ethos Specific
.ethos/

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/
.DS_Store


binary/
nuitka-crash-report.xml
